body {
    color: white;
    background-image: linear-gradient(to bottom, black, orange);
    margin-bottom: 30%;
}
h1 {
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 7em;
    margin-top: 0;
    margin-bottom: 0;
}
nav a {
    text-decoration: none;
}
nav {
    font-size: 170%;
    font-weight: bold;
    padding: 0.5em;
    float: left;
    width: 150px;
}
nav ul {
    list-style-type: none;
    padding-left: 20px;
    margin: 0;
}
nav a:link {
    color: black;
}
nav a:visited {
    color: black;
}
nav a:hover {
    color: white;
    transition: color 2s linear;
}
#wrapper {
    width: 90%;
    border: 1px solid white ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background-color: darkgreen;
}
main {
    margin-left: 170px;
    padding: 10px 20px;
    display: block;
    margin-top: 0;
    background-color: rgb(12, 117, 12);
    overflow: auto;
}
footer {
    margin-left: 170px;
    clear: both;
    background-color: rgb(12, 117, 12);
}
* {
    box-sizing: border-box;
}
label {
    float: left;
    display: block;
    text-align: right;
    padding-right: 5px;
    width: 140px;
}
input {
    display: block;
    margin-bottom: 15px;
}
textarea {
    margin-bottom: 15px;
}
input[type=submit] {
    margin-left: 140px;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: orange;
    color: black;
}
td {
    border: 2px solid black;
    text-align: center;
}